{{ define "main" }}
	<main>
		<p><i>*beep*</i> this page is under construction <i>*beep*</i></p>
		<p>My name is Timo Sarkar, and this is my blog. I currently work as a IT Systemsengineer. Due to my passion for technology, I built this blog to keep all my important thoughts and findings on one place. You can consider me a techno-dharmic visioneer and builder. I do mostly align with the principles of <a href="https://en.wikipedia.org/wiki/Effective_accelerationism">effective-accelerationism</a> (e/acc).</p>
		{{ partial "sidebar.html" . }}
	</main>

{{ end }}
