<!doctype html>
<html class="not-ready lg:text-base" lang="{{ lang }}">
  {% include "partials/head.html" %}
  <body>
    {% include "partials/header.html" %}
    <div class="layout-module--parent--S2h1M">
      <main class="layout-module--main--16H54">
        {% block main %}

          <div class="index-module--home--UKgeX">
              <h1>
                  
              </h1>
              <p><a href="https://sartimo.substack.com/subscribe">Sign up to receive new blog posts by email.</a></p>
              <p><em>Selected writing:</em></p>
              {% include "partials/page_list.html" %}
          </div>
        {% endblock main %}
      </main>
    </div>  

  </body>
</html>
