<header>
	<h2 style="font-size: 34px; margin-top:70px">{{ .Page.Title }}</h2>
	{{ with .Site.Menus.home }}
		{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}
	<br>
	{{ with .Site.Menus.main }} 
		{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}
	<br>
	{{ with .Site.Menus.curiculum }} 
		{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}
	<br>
	{{ with .Site.Menus.tribute }} 
		{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}
</header>
