<aside>
	<div>
		<div>
			<h3>Latest Posts (newest atop)</h3>
			<p>You can see the full list of articles in the archive. If you are interested in a specific topic, try searching below. Try something like 3D, or linux.</p>
		</div>
		<p>
			<iframe src="https://duckduckgo.com/search.html?width=200&site=sartimo.github.io&prefill=Search%20Articles" style="overflow:hidden;margin:0;padding:0;width:258px;height:40px;border:0;"></iframe>
		</p>
	
		<div>
			<ul>
				{{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a> <i>{{ .Render "summary" }}</i></li>
				{{ .Description }}
				<br><br>
				{{ end }}
			</ul>
		</div>
	</div>
</aside>
